.sidemenu{
    width: 180px;
    height: 100%;
    background-color: #000000ef;
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    justify-content: space-between;
    align-items: center;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

@media(max-width: 960px){
    .sidemenu{
        display: none;
    }

}

.navbar__links {
    display: table-cell;
}


.navbar__links > li {
    display: flex;
    flex-direction: row;
    align-items: center;  
    padding-top: 1.5rem;     
}


.navbar__links > li > a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    
}


.sidemenu__logo{
    display: flex;
    flex: 100%;
    width: 100%;
    height: 150px;
}

.sidemenu__button > a:hover {
    background: white;
    color: #0a0a0aef;
}


.sidemenu__menubutton{
    display : flex;
    flex-direction: column;
    justify-items: center;

}

.sidemenu__button > a > span {
    align-items: center;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}


.sidemenu__button{
    display : flex;
    flex-direction: column;
    justify-items: center;
    padding: 15px 15px;

}

.sidemenu__links > li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidemenu_links > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding: 1rem;
    text-decoration:  none;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
}



.sidemenu__links > li > a:hover{
    background: #ffffffef;
    color: rgb(0, 0, 0);
}

.sidemenu__links > li > a > span {
    display: flex;
    align-items: center;
    margin-left: 8px;

}

.sidedrawer__cartbadge{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    font-size: 1rem;
    margin-left: 8px;


}

.sidedrawer__links > li > a:hover .sidedrawer__cartbadge{
    background: white;
    color: #000000ef;
}

